{% block content %} 

<h1>Images, logos & icone</h1>
<h3>NFB logos</h3>	
<ul>
	<li><figure class="native-size"><img src="{{ "ONF_Logo_hor_blanc_sm.svg" | asset_url }}"><figcaption>NFB logo <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "nfb-corpo-logo-full.svg" | asset_url }}"><figcaption>NFB signature logo <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "ONF_Logo_ver_blanc.svg" | asset_url }}"><figcaption>NFB signature logo vertical <acronym>(svg)</acronym></figcaption></figure>
	</li> 

	<li><figure class="native-size"><img src="{{ "ONF_Logo_hor_noir_sm.svg" | asset_url }}"><figcaption>NFB logo - noir<acronym>(svg)</acronym> </figcaption></figure>
		<figure class="native-size"><img src="{{ "nfb-corpo-logo-full-noir.svg" | asset_url }}"><figcaption>NFB signature logo - noir<acronym>(svg)</acronym></figcaption></figure></li> 
</ul>
<h3>icones</h3>

<ul>
	<li><figure class="native-size">
		<img src="{{ "play-icon.svg" | asset_url }}">
		<img src="{{ "play-icon_big.svg" | asset_url }}">
		<img src="{{ "play-icon-sm.svg" | asset_url }}">		
		<img src="{{ "play-icon-sm-2.svg" | asset_url }}">
		<figcaption>Play<acronym>(svg)</acronym> regu, big, small</figcaption></figure>
	</li>	
	<li><figure class="native-size">
		<img src="{{ "downloads.svg" | asset_url }}">
		<figcaption>Download<acronym>(svg)</acronym></figcaption></figure>
	</li>	
	<li><figure class="native-size">
		<img src="{{ "watch-offline.svg" | asset_url }}">
		<figcaption>Watch Offline<acronym>(svg)</acronym></figcaption></figure>
	</li>	
	<li><figure class="native-size">
		<img src="{{ "watchlater.svg" | asset_url }}">
		<img src="{{ "watchlater2.svg" | asset_url }}">		
		<figcaption>Watchlater<acronym>(svg)</acronym></figcaption></figure>
	</li>
	<li><figure class="native-size"><img src="{{ "profil-patel.svg" | asset_url }}"><figcaption>Profile <acronym>(svg)</acronym></figcaption></figure></li>

	<li><figure class="native-size"><img src="{{ "search-icon.svg" | asset_url }}"><figcaption>search <acronym>(svg)</acronym></figcaption></figure></li>	

	<li><figure class="native-size"><img src="{{ "external-link.svg" | asset_url }}"><figcaption>External link<acronym>(svg)</acronym></figcaption></figure></li>

</ul>
<h4>Thumbnail icons</h4>
<ul>
	<li>
		
		<figure class="native-size"><img src="{{ "ico-download.svg" | asset_url }}"><figcaption>download icon <acronym>(svg)</acronym></figcaption></figure><br>
		<figure class="native-size"><img src="{{ "ico-dv.svg" | asset_url }}"><figcaption>dv icon <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "ico-cc-en.svg" | asset_url }}"><figcaption>close caption icon (en) <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "ico-cc-fr.svg" | asset_url }}"><figcaption>sous-titre icon (fr) <acronym>(svg)</acronym></figcaption></figure>		
		<figure class="native-size"><img src="{{ "ico-sous-titre-fr.svg" | asset_url }}"><figcaption>sous-titre icon (int) <acronym>(svg)</acronym></figcaption></figure>
	</li>
</ul>


<h4>Arrows</h4>
<ul>
	<li><figure class="native-size"><img src="{{ "drop-down-ico.svg" | asset_url }}"><figcaption>drop down arrow <acronym>(svg)</acronym></figcaption></figure></li>
	<li>
		<figure class="native-size"><img src="{{ "right-arr.svg" | asset_url }}"><figcaption>arrow (right) <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "left-arrow.svg" | asset_url }}"><figcaption>arrow (left) <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "left-arr.svg" | asset_url }}"><figcaption>arrow <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "right-arrow.svg" | asset_url }}"><figcaption>arrow <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "down-arr.svg" | asset_url }}"><figcaption>arrow <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "up-arr.svg" | asset_url }}"><figcaption>arrow <acronym>(svg)</acronym></figcaption></figure>
	</li>

</ul>
<ul>
	<li><figure class="native-size"><img src="{{ "gplus.svg" | asset_url }}"><figcaption>google plus <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "facebook.svg" | asset_url }}"><figcaption>Facebook <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "twitter.svg" | asset_url }}"><figcaption>twitter <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "youtube.svg" | asset_url }}"><figcaption>youtube <acronym>(svg)</acronym></figcaption></figure></li>
			<li><figure class="native-size"><img src="{{ "filmstrip.svg" | asset_url }}"><figcaption>filmstrip <acronym>(svg)</acronym></figcaption></figure> 
	<figure class="native-size"><img src="{{ "coeur.svg" | asset_url }}"><figcaption>Coeur <acronym>(svg)</acronym></figcaption></figure></li>
	<figure class="native-size"><img src="{{ "marquee.svg" | asset_url }}"><figcaption>Featured <acronym>(svg)</acronym></figcaption></figure></li>
</ul>		

<h3>nfb education</h3>

<ul>
				<li><figure class="native-size"><img src="{{ "download.svg" | asset_url }}"><figcaption>download <acronym>(svg)</acronym></figcaption></figure> 
	<figure class="native-size"><img src="{{ "eye.svg" | asset_url }}"><figcaption>oeil <acronym>(svg)</acronym></figcaption></figure></li>

</ul>

<h4>App icons</h4>
<ul>
	<li>
		<figure class="native-size"><img src="{{ "favorite-icon.svg" | asset_url }}"><figcaption>favorite icon <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "settings-icon.svg" | asset_url }}"><figcaption>setting icon <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "kid-sm-icon.svg" | asset_url }}"><figcaption>kids icon sm <acronym>(svg)</acronym></figcaption></figure>
		<figure class="native-size"><img src="{{ "kid-big-icon.svg" | asset_url }}"><figcaption>kids icon <acronym>(svg)</acronym></figcaption></figure>
	<figure class="native-size"><img src="{{ "marquee.svg" | asset_url }}"><figcaption>Featured <acronym>(svg)</acronym></figcaption></figure></li>
	</li>
</ul>
<h4>Future</h4>

<ul>
				<li><figure class="native-size"><img src="{{ "falcon.svg" | asset_url }}"><figcaption>Falcon <acronym>(svg)</acronym></figcaption></figure> 
	</li>

</ul>

{% endblock %}



